/* PAGE CONTENTS */
.voiceflow-chat {
  background: url('https://wallpapercave.com/wp/1C6G3g0.jpg') no-repeat center center;
  background-size: cover;
}

/* CHAT MESSAGE BODY */
.vfrc-chat--dialog {
  margin: 20px;
  padding: 10px;
  border-radius: 10px;
  background-color: rgba(255, 255, 255, 0.8); /* Slight transparent white */
}

/* ASSISTANT RESPONSES */
.vfrc-system-response .vfrc-message {
  background-color: gold;
  color: black;
  padding: 15px 20px;
  border-radius: 10px;
}

.vfrc-system-response .vfrc-button {
  background-color: gold;
  color: black;
  border-radius: 25px;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.vfrc-system-response .vfrc-button:hover {
  background-color: #ffd700; /* Slightly lighter shade of gold */
}

/* USER RESPONSES */
.vfrc-user-response .vfrc-message {
  background-color: black;
  color: white;
  padding: 15px 20px;
  border-radius: 15px;
}

/* FOOTER */
.vf-footer {
  background-color: transparent;
}

.vfrc-chat-input--button {
  background-color: gold;
  color: black;
  border-radius: 25px;
  padding: 10px 15px;
  border: none;
  cursor: pointer;
}

.vfrc-chat-input--button:hover {
  background-color: #ffd700; /* Slightly lighter shade of gold */
}
